/* Write your CSS here */
.cardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
}
.bgContainer {
  height: 100vh;
  width: 100vw;
  padding: 50px;
}
.heading {
  color: #252627;
  font-size: 30px;
}
.inputEl {
  height: 40px;
  width: 350px;
  border-style: none;
  background-color: #f1f5f9;
  font-size: 15px;
  border-radius: 10px;
  outline: none;
}
.icon-image {
  height: 40px;
}
.inputCo {
  height: 40px;
  width: 350px;
  display: flex;
  flex-direction: row;
  background-color: #f1f5f9;
  border-radius: 10px;
}
